.header {
    font-weight: 500;
    color: var(--title-font-color);
}

.button {
    background: #30333d;        
    color: #c0bdbd;
    border: none;
    outline: none;
    cursor: pointer;
}

.ghost-button {
    @extend .button;
    background: transparent;
}

.input {
    background: #1d1f23;
    color: var(--primary-font-color);
    outline: none;
    border: 1px solid var(--border-color);
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
}

.popup {
    border: 1px solid var(--border-color);
    background: var(--background-color);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px #443d3d;
}