.file_view__favorite_file_list {
    margin-bottom: 30px;
}

.file_view__favorite_file_list__header,
.file_view__file_list__header {
    font-size: 20px;
    padding-left: 17px;
}

.file-list {
    display: grid;
    grid-template-columns: 100px auto 150px 300px;
}

.file-list-header {
    display: contents;

    > div {
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }
}

.file-list-row {
    display: contents;
    cursor: pointer;

    > div {
        height: 40px;
        line-height: 40px;


    }

    &:hover {
        > div {
            background: var(--list-item-hover-color);
        }

        .file-item-action {
            visibility: visible;
        }
    }
}


.file-list__title {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.file-item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.file-item-action {
    visibility: hidden;
    user-select: none;
}

.file-item-action--visible {
    visibility: visible;
}

.file-item-menu {
    margin-left: auto;
    margin-right: 15px;
}

.file-list__node-size {
    text-align: right;
}

.file-list__modified_at {
    text-align: center;
}