.file-actions {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--border-color);
}

.file-actions-create-container {
    position: relative;
}

.file-action-create {
    border: none;
    padding: 2px 7px;
    background: none;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
}

.file-action-create-list {
    position: absolute;
    left: 7px;
    width: 200px;    
    background: var(--background-color);
    padding: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px #ddd;
}

.file-action-create-list-item {
    > a {
        display: flex;
        align-items: center;
        column-gap: 7px;

        height: 35px;
        padding: 0 15px;
        cursor: pointer;

        &:hover {
            background: var(--menu-item-hover-color);
        }
    }
}

.file-action-create-list-item--start-group {
    &::before {
        content: '';
        display: block;
        height: 5px;
    }
}

.file-action-create-list-item--end-group {
    &::after {
        content: '';
        display: block;
        height: 5px;
        border-bottom: 1px solid var(--border-color);
    }
}


.new-folder-action-input {
    width: 100%;
}