.file-list {
    display: grid;
    grid-template-columns: 100px auto auto auto;
}

.file-list-header {
    display: contents;

    > div {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid var(--border-color);
    }
}

.file-list-row {
    display: contents;
    cursor: pointer;

    > div {
        height: 40px;
        line-height: 40px;


    }

    &:hover {
        > div {
            background: var(--files-grid-row-hover-color);
        }

        .file-item-action {
            visibility: visible;
        }
    }
}


.file-list-title {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.file-item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.file-item-action {
    visibility: hidden;
    user-select: none;
}

.file-item-action--visible {
    visibility: visible;
}

.file-item-menu {
    margin-left: auto;
    margin-right: 15px;
}