.file-upload__drop-container {
    display: grid;
    height: 100%;
    place-content: center;
}

.file-upload__drop-container.file-upload__drag-over {
    background: #34245a;
    border: 2px dashed #6c996c;
}

.select-file, .select-folder {
    cursor: pointer;
    color: #f5606c;
}