.file-upload__drop-container {
    display: grid;
    height: 100%;
    place-content: center;
}

.file-upload__drop-container.file-upload__drag-over {
    background: #EFF6EA;
    border: 2px dashed #30760b;
}

.select-file {
    cursor: pointer;
    color: red;
}