.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 101;
    background: var(--background-color);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.modal-header {
    padding: 10px 0;
    font-size: 17px;
}

.modal-body {
    flex: 1 0;
}