[Unit]
Description=HomeSpace server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify
ExecStart=
Environment="ASPNETCORE_URLS=http://127.0.0.1:5000"
WorkingDirectory=
User=

[Install]
WantedBy=multi-user.target

