:root {
    --background-color: #282c34;
    --icon-color: #919baa;
    --border-color: #585858;

    --breadcrumb-notselected-color: #555;

    --primary-font-color: #abb2bf;

    --title-font-color: #e5c07b;
    --link-font-color: #61afef;

    --list-item-hover-color: rgba(232,234,237,.12);

    --button-background-color: #30333d;
    --button-font-color: #c0bdbd;

    --invert-background-color: #abb2bf;
    --invert-font-color: #282c34;
}
