.header {
    font-weight: 500;
    color: var(--title-font-color);
}

.button {
    background: var(--button-background-color);
    color: var(--button-font-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 20px;
}

.button[disabled] {
    opacity: 0.6;
}

.ghost-button {
    @extend .button;
    background: transparent;
}

.icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
}

.input {
    background: #1d1f23;
    color: var(--primary-font-color);
    outline: none;
    border: 1px solid var(--border-color);
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
}

.popup {
    border: 1px solid var(--border-color);
    background: var(--background-color);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px #443d3d;
}