:root {
  --background-color: #282c34;
  --icon-color: #abb2bf;
  --border-color: #585757;

  --breadcrumb-notselected-color: #555;

  --primary-font-color: #abb2bf;

  --title-font-color: #e5c07b;
  --menu-font-color: #61afef;

  --list-item-hover-color: rgba(232,234,237,.12);
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
}

main {
  min-height: 100%;
  color: var(--primary-font-color);
  background: var(--background-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
